*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html, :root {
    font-size: 62.5%;
    --shadow-line:  #d6d6d6;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}

.gray-letter{
   color: #6c757d;
}

.container-colum{
    display: flex;
    flex-direction: column;
}

.container-centralized{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}