*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html, :root {
    font-size: 62.5%;
    --shadow-line:  #d6d6d6;
}
html ,body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.gray-letter{
   color: #6c757d;
}

.container-colum{
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-centralized{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-top{
    margin-top: 2.5rem;
}


@media (max-width:450px){
    :root{
        font-size: 28%;
    }
    
    #side-section{
        width: 100%;
        font-size: 1rem;
        display: flex;
        align-items: flex-start;
    }

    #news-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card{
        width:30rem;
        margin-left: 2rem;
    }
    .card img{
        width: 30rem;
    }

    .search-input{
        width:13rem ;
        font-size: 1rem;
    }

}
@media(max-width:800px){
    :root{
        font-size: 50%;
    }
    #side-section{
        width: 100%;
        font-size: 1rem;
        display: flex;
        align-items: flex-start;
    }

    #news-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card{
        width:30rem;
        margin-left: 2rem;
    }
    .card img{
        width: 30rem;
    }

    .search-input{
        width:13rem ;
        font-size: 1rem;
    }
}